body{
    font-family: "Courier New", 'Courier New', Courier, monospace;
}

p{
    font-size: 1.5rem;
    background-color: lightblue;
}

.darktext{
    background-color: lightgrey;
    color: darkblue;
    padding: 1em;
}