 @import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
 :root {
 --primary-color: #52489c;
 --secondary-color: #59c3c3;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: Mooli, san-serif;
 }

body {
  font-family: var(--primary-font);
  font-size: 1.2em;
}

a:link, a:visited {
  color: var(--accent-color);
}

nav{
    display: flex;
    flex-direction: column;
}

img{
    max-width: 100%
}

header{
    background-color: var(--primary-color);
    justify-content: space-between;
    padding: 10px 20px;
    text-align: center;
    color: var(--text-light)
}

main{
    background-color: var(--text-light);
    text-align: center;
}

footer{
    background-color: var(--primary-color);
}

.hide{
    display: none;
}

.viewer{
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    z-index: 10;
}

.viewer img{
    max-width: 90%;
    max-height: 90%;
}

.close-viewer{
    position: absolute;
    top: 15px;
    right: 15px;
}

@media screen and (min-width: 700px){
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px){
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .hide{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
    }
    .menu-button{
        display: none;
    }
}